version: '3.1'

services:
  n8n:
    image: n8nio/n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - N8N_HOST=${RENDER_EXTERNAL_URL}
      - WEBHOOK_URL=${RENDER_EXTERNAL_URL}
      - N8N_ENCRYPTION_KEY=chave_super_secreta_123
    volumes:
      - /data:/home/node/.n8n
